/* Webfont:  */@font-face {
    font-family: '';
    src: url('ITP-SLIIT Regular.eot'); /* IE9 Compat Modes */
    src: url('ITP-SLIIT Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('ITP-SLIIT Regular.woff') format('woff'), /* Modern Browsers */
         url('ITP-SLIIT Regular.woff2') format('woff2'), /* Modern Browsers */
         url('ITP-SLIIT Regular.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

